{
  "env": {
    "browser": true,
    "es2021": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:import/recommended",
    "plugin:import/typescript",
    "plugin:react-hooks/recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": "latest",
    "sourceType": "module"
  },
  "plugins": ["@typescript-eslint", "prettier"],
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      }
    }
  },
  "rules": {
    "import/order": "error",
    "react/jsx-max-depth": [2, { "max": 12 }],
    "react/no-unknown-property": ["error", { "ignore": ["css", "tw"] }],
    "react/jsx-filename-extension": [
      2,
      { "extensions": [".js", ".jsx", ".ts", ".tsx"] }
    ],

    "prettier/prettier": [
      2,
      {
        "printWidth": 120,
        "arrowParens": "avoid",
        "bracketSameLine": true,
        "bracketSpacing": false,
        "singleQuote": true,
        "trailingComma": "all",
        "endOfLine": "auto"
      }
    ]
  }
}
